/* activity */
.width1000{
  max-width: 1000px;
  margin:auto;

}
/* activity content*/
.page{
  position: relative;
  max-width: 1000px;
  background: #fff;
  margin-bottom: 30px;
  box-shadow: 0px 0px 21px 0px rgba(19, 95, 158, 0.2);
  border-radius: 6px;
  margin: 30px 15px 30px 15px;
  overflow: hidden;
  transition: all .3s ease-in-out 1s;
  background: #fff;
  line-height: 25px;
}
.page .pageImg{
  position: relative;
  overflow: hidden;
  border-top-right-radius:6px;
  border-top-left-radius:6px;
  z-index: 1;
  height: 168px;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: all 500ms ease 0ms;
}
.page .pageOverlay{
  position: absolute;
  z-index: 1;
  background: rgba(0, 0, 0, 0.3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.page>.pageImg>img{
  max-width: 100%;
  height: auto;
  display: block;
  transition: all 500ms ease 0ms;
}
.page>:hover img{
  transform: scale(1.2);
  transition: all 500ms ease 0ms;
}
.pageCategory{
  position: absolute;
  z-index: 2;
  margin:0;
  padding: 2px 10px;
  font-size: 10px;
  border: 1px solid #fff;
  border-radius: 6px;
  color: #fff;
  display: inline-block;
  line-height: 1.5;
}
.pageNum{
  position: absolute;
  z-index: 2;
  bottom:0;
  right: 0;
  padding: 2px 4px;
  font-size: 10px;
  color: #fff;
  display: inline-block;
  line-height: 1.5;
}
.Txt{
  padding: 5px 15px 5px 15px;

}
.Txt>h3{
  margin: 0px;
}
.Txt>p{
  margin: 0px;
}
.Txt>span{
  font-size: 13px;
}
.Txt>span>a{
  text-decoration: none;
  color: #333;
  float: right;
}
.load{
  padding: 5px 15px 5px 15px;
  text-align: center;
  margin: 10px 0;
}
/*activity carousle*/
.carouselImg{
  width: 100%;
  height: 300px;
  box-shadow:0px 0px 21px 0px rgba(19, 95, 158, 0.2);
}
.carouselImg img{
  width: 100%;
}
.picImg p{
  font-size: 20px;
  text-align: center;
  color: #333;
}
/* activitydetail */
Row{
  padding:15px 20px;
  margin: 0;
}
.Pagecol{
  margin: 20px 15px 0px 0px;
  padding: 5px 10px 20px 10px;
  box-shadow: 0 1px 7px #bcbcbc;
  border-radius: 4px;
  background-color: #ffffff;
}
.Pagecol p{
  margin-left: 50px;
}
.ant-carousel .slick-slider{
  padding: 0px !important;
}
.ant-collapse{
  border: none !important;
  background-color: #ffffff !important;
}
.Img{
  display: block;
  max-height: 370px;
  background-position: center;
  background-size: cover;
  overflow: hidden;
  box-shadow: 0 1px 7px #bcbcbc;
  margin-top: 15px;
  border-radius: 4px;
}
.Img>img{
  width:calc(100%);
}
/*.Img:hover img{
  transform:scale(1.2);
  transition: all 500ms ease 0ms;
}*/
.FontLg{
  font-size: 20px;
}
.detail{
  line-height: 2.5;
}
.detail p{
  font-size:16px;
  line-height: 30px;
}
.detail h1{
  padding-right: 80px;
  padding-left: 40px;
}
.detail p span{
  font-size: 16px;
  padding-left: 20px;
}
.button{
  margin-top: 20px;
}
.button button{
  float: right;
  margin-right: 60px;
}
.contentDt{
  margin: 20px 15px 0px 0px;
  padding: 15px;
  position: relative;
  box-shadow: 0 1px 7px #bcbcbc;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px;
}
.ant-collapse-content{
  background-color: #ffffff !important;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header{
  font-size: 18px !important;
  font-weight: bold;
}
.contentDt2{
  margin-top: 20px;
  position: relative;
  box-shadow: 0 1px 7px #bcbcbc;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px;
}
.contentDt2 p{
  margin-left: 0px;
}
.carousle div{
  height:100%;
}
.carousle {
  box-shadow: 0 1px 7px #bcbcbc;
  border-radius: 4px;
  background-color: #ffffff;
  margin: 20px 0;
}
.carousel div p{
  margin: 0px;
}
.carousle div img{
  width: 100%;
}
.Map{
  margin-top: 20px;
  position: relative;
  box-shadow: 0 1px 7px #bcbcbc;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px;
}
.Calendar{
  margin-top: 20px;
  position: relative;
  box-shadow: 0 1px 7px #bcbcbc;
  border-radius: 4px;
  background-color: #ffffff;
  padding: 8px;
}
.ant-fullcalendar{
  border: none !important;
}
.ant-fullcalendar-header{
  text-align: center !important;
}

/*Acitivity Comment*/
.comment{
  position: relative;
  box-sizing: border-box;
  font-size:12px;
  line-height: 30px;
  color: #4b4c4c;
  display:block;
  padding:0 20px 0 20px;
  margin:80px 0 20px 0;
  text-align: left;
  font-family: "PingFang SC", "Microsoft JhengHei";
  width: 100%;
  }
.commentBox{
  width: 100%;
}
.commentBox>img{
  display: inline;
  height:40px;
  width:40px;
  border-radius:50%;
  vertical-align: middle;
}
.commentBox>a{
  text-decoration:none;
  color: #4b4c4c;
}
.DetailComment span{
  float: right;
}
.comment>.commentContent{
  font-size: 16px;
  padding-left: 55px;
  margin-bottom: 10px;
}
.comment>.globalComment{
  font-size: 20px;
}

/*Activity Share*/
#redessociales {
  width: 64px;
  height: 64px;
  border-radius: 75px;
  border: 5px solid #fff;
  background: url(http://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg)
}

.smedia {
  position: absolute;
-webkit-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
-moz-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1),opacity 1s linear;
-o-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 100;
  margin:10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left:3px;
}

#redessociales:hover .smedia {
  opacity: 1;
  transform: translate(0px,0);
  -webkit-transform: translate(0px,0);
  -o-transform: translate(0px,0);
  -moz-transform: translate(0px,0);
  margin:10px 0px 0px 20px;
  position: absolute;
}
#redessociales:hover .smedia:nth-child(1) {
  position: absolute;
  left:65px;
}

#redessociales:hover .smedia:nth-child(2) {
  position: absolute;
  left:110px;
}
#redessociales:hover .smedia:nth-child(3) {
  position: absolute;
  left:155px;
}
#redessociales:hover .smedia:nth-child(4) {
  position: absolute;
  left:200px;
}
#redessociales:hover .smedia:nth-child(5) {
  position: absolute;
  left:245px;
}

#redessociales:hover .smedia:nth-child(6) {
  position: absolute;
  left:290px;
}
.smedia:hover {
    background-position: 0 -46px;
}
/*Up Scroll*/
.upScroll{
   height: 40px;
   width: 40px;
   line-height:40px;
   border-radius: 4px;
   background-color: #57c5f7;
   color: #fff;
   text-align:center;
   font-size: 20px;
}
/*Loading...*/
.load{
  text-align: center;
}


/**/
/*Activity Share*/
#redessociales {
  width: 64px;
  height: 64px;
  border-radius: 75px;
  border: 5px solid #fff;
  background: url(http://4.bp.blogspot.com/-gKMIOgeaEBY/UWHsOA382oI/AAAAAAAABpI/5GdyRTAeKII/s1600/share_core_square.jpg)
}

.smedia {
  position: absolute;
-webkit-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
-moz-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1),opacity 1s linear;
-o-transition: left 0.5s cubic-bezier(0.1,0.8,0.9,1), opacity 1s linear;
  display: inline;
  opacity: 0;
  width: 46px;
  height: 46px;
  z-index: 100;
  margin:10px 0px 0px 20px;
  text-indent: -9999px;
  background: no-repeat;
  left:3px;
}

#redessociales:hover .smedia {
  opacity: 1;
  transform: translate(0px,0);
  -webkit-transform: translate(0px,0);
  -o-transform: translate(0px,0);
  -moz-transform: translate(0px,0);
  margin:10px 0px 0px 20px;
  position: absolute;
}
#redessociales:hover .smedia:nth-child(1) {
  position: absolute;
  left:65px;
}

#redessociales:hover .smedia:nth-child(2) {
  position: absolute;
  left:110px;
}
#redessociales:hover .smedia:nth-child(3) {
  position: absolute;
  left:155px;
}
#redessociales:hover .smedia:nth-child(4) {
  position: absolute;
  left:200px;
}
#redessociales:hover .smedia:nth-child(5) {
  position: absolute;
  left:245px;
}

#redessociales:hover .smedia:nth-child(6) {
  position: absolute;
  left:290px;
}
.smedia:hover {
    background-position: 0 -46px;
}
