.wapper{
  width:100%;
  margin:0;
  background-image: url("http://imageservice.pine-soft.com/3FFDF4B61B124B84B4AE891C7948FFF9.jpg");
  z-index:2222;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 800px;
  margin-bottom: -50px;
  padding-top: 100px;
}
.form-container{
  max-width: 400px;
  margin:0 auto 0 auto;
  padding: 10px 20px 10px 20px;
  background: rgba(255,255,255,0.8);
  border-radius: 5px;
}
