.detailFoot{
  margin-top: 10px;
}
.allComment{
  padding: 10px 0;
}
.allComment > span{
  font-size: 14px;
  color: #666;
}
.list{

}
.list > .single{
  position: relative;
  box-sizing: border-box;
  font-size: 12px;
  line-height: 30px;
  color: #4b4c4c;
  display: block;
  padding: 0 20px 0 20px;
  margin: 80px 0 20px 0;
  text-align: left;
  font-family: "PingFang SC", "Microsoft JhengHei";
}

.commentBox{

}
.commentBox > img{
      display: inline;
      margin: auto;
      height: 40px;
      width: 40px;
      border-radius: 50%;
      vertical-align: middle;
}
.commentBox > span{
  font-size: 10px;
  float: right;
}
.commentContent{
  font-size: 16px;
  padding-left: 55px;
}

.commentContent > hr,
.detailFoot > hr,
.allComment > hr {
  margin-bottom: 5px;
  padding: 0;
  border: 0;
  background-color: #eee;
  height: 1px;
  margin-top: 6px;
}

.spanLove{
  font-size: 16px;
  float: right;
  cursor: pointer;
}
.spanintro{
  font-size: 14px;
}
.single_sec{
  width: 94%;
  /*border: 1px dashed #f0f0f0;*/
  border: 1px dashed lightgray;
  border-left: 3px solid lightgray;
  margin-left: 6%;
  padding: 16px 0 16px 10px;
  border-right: none;
}
.commentBox_sec{
    /*margin-left: 25px;*/
}
.spanLove_sec{
  font-size: 10px;
  /*float: right;*/
  cursor: pointer;
  font-size: 14px;
}
.commentBox_sec > img{
  display: inline;
  margin: auto;
  height: 40px;
  width: 40px;
  border-radius: 50%;
  vertical-align: middle;
}
.spanintro_sec{
  font-size: 12px;
  color: #2db7f5;
}

.commentContent_sec{
  font-size: 16px;
  padding-left: 55px;
  margin-bottom: 10px;
  margin-left: 15px;
}
#deleteOrReply{
  cursor: pointer;
  color: #999;
}
#deleteOrReply:hover{
  color:#333;
}
#addNewComment{
  cursor: pointer;
  color: #999;
  float: right;
}
#addNewComment:hover{
  color:#333;
}
