/*发现 开始*/
*{
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
button, a {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
a {
    color: #337ab7;
    text-decoration: none;
    background-color: transparent;
}
.cf-box {
    background: #ff9900;
    margin-left: auto;
    margin-right: auto;
    background-color: #fff;
    max-width: 650px;
    width: 100%;
    padding: 0;
    margin: 0 auto 20px auto;
    border-radius: 0;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.1),0 2px 2px 0 rgba(0,0,0,0.1);
    overflow-x: hidden;
    border: 1px solid #D9D9D9;
}
.box-top {
    height: 76px;
    padding: 15px;
    color: #929292;
    position: relative;
    width: 100%;
}
a:focus, a:visited {
    text-decoration: none;
}
.box-avatar {
    height: 46px;
    width: 46px;
    border-radius: 50%;
    display: inline-block;
    position: absolute;;
    align:left;
}
img {
    vertical-align: middle;
    border: 0;
}
.nameAndCategory {
    position: absolute;
    padding-left: 35px;
    display: inline-block;
}
.container .row {
    margin-left: 0;
    margin-right: 0;
}

.container .row {
    margin-left: 0;
    margin-right: 0;
}
.row {
    width: 100%;
    margin: 0;
    padding: 0 15px 0 15px;
    margin-bottom:2px;margin-top:-3px;
}
.box-name {
    float: left;
    font-size: 18px;
    color: #69707A;
    display: block;
    padding-right: 50px;
}
.box-time {
    margin-top: 0;
    font-size: 14px;
    color: #929292;
    float: right;
    display: inline-block;
}
.box-middle {
    position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.box-bottom {
    padding: 10px 15px 10px 20px;
    color: #69707A;
    font-size: 12px;
    position: relative;
    width: 100%;
}
p {
    margin: 0 0 10px;
}
.icon{
  color:#fff;
  background-color:#BA8BAF;
  height:20px;
  width:20px;
  border-radius:50%;
  display:inline;
  float:left;
}
.box-category{
  line-height:20px;
  margin-left:5px;
  float: left;
  font-size: 15px;
}
.box-middle{
  position: relative;
    text-align: left;
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
}
.box-content {
    height: 180px;
    background-size: cover;
    background-position: center;
}
.box-bottom {
    padding: 10px 15px 10px 20px;
    color: #69707A;
    font-size: 12px;
    position: relative;
    width: 100%;
}
.box-title {
    margin: 0;
    font-size: 22px;
    color: #5A5A5A;
    font-weight: 500;
    display: inline-block;
}
.box-time {
    margin-top: 0;
    font-size: 14px;
    color: #929292;
    float: right;
    display: inline-block;
    cursor: pointer;
}
.aStyle{
  display:block;
  overflow:hidden;
  height:31px;
  margin-bottom:10px;
}
.loadCover{
  text-align: center;
}
.loadMore{
  text-align: center;
  font-family: 微软雅黑;
  font-size: 17px;
  cursor: pointer;
}
/*发现 结束*/
